#services-get-started {
    padding-top: 70px;
    padding-bottom: 35px;
}

.get-started-title h2 {
    font-size: 45px;
    margin-bottom: 5px;
}

.get-started-title h4 {
    margin-bottom: 70px;
}

.tutorial {
    width: 333px;
    height: 434px;
    background: #EBEAE4;
    border-radius: 15px;
}
